USE_JAEGER_ENDPOINT=true
JAEGER_ENDPOINT="http://localhost:4317/api/traces"

GRAFANA_ENDPOINT="https://otlp-gateway-prod-us-east-0.grafana.net/otlp/v1/traces"
GRAFANA_USER="FILL_THIS_IN"
GRAFANA_API_KEY="FILL_THIS_IN"
